@charset "UTF-8";
/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
/*main colors page*/
/*main font*/
/*main sizes page*/
/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
@font-face {
  font-family: "Avenir Next";
  src: url("../../fonts/AvenirNextCyr-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../fonts/AvenirNextCyr-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../fonts/AvenirNextCyr-Demi.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
/*main colors page*/
/*main font*/
/*main sizes page*/
/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
.header__hat {
  background-color: #2c2929;
  color: #ffffff;
  padding: 0.75rem 0;
}
.header__hat .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__hat-text {
    font-size: 0.9375rem;
    max-width: 15rem;
  }
}
@media (max-width: 375px) {
  .header__hat-text {
    width: 65%;
  }
}
.header__hat-wrapper-review {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .header__hat-wrapper-review {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .header__hat-wrapper-review {
    width: 35%;
  }
}
.header__hat-star-container {
  display: flex;
  -moz-column-gap: clamp(0.125rem, 0.0809859155rem + 0.1877934272vw, 0.25rem);
       column-gap: clamp(0.125rem, 0.0809859155rem + 0.1877934272vw, 0.25rem);
}
.header__hat-star-img {
  width: clamp(1rem, 0.823943662rem + 0.7511737089vw, 1.5rem);
  height: clamp(1rem, 0.823943662rem + 0.7511737089vw, 1.5rem);
}
.header__hat-reviews {
  display: block;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  padding: clamp(1.125rem, 0.9929577465rem + 0.5633802817vw, 1.5rem) 0;
}
@media (max-width: 700px) {
  .header__body .header__lang-dropdown-body {
    position: fixed;
    top: clamp(15.3125rem, 13.5817307692rem + 7.3846153846vw, 16.8125rem);
    right: -370px;
    margin: 0;
    z-index: 13;
    opacity: 0;
    transition: all 0.7s ease 0s;
  }
  .header__body .header__nav-list {
    flex-direction: column;
    row-gap: clamp(0.625rem, 0.2644230769rem + 1.5384615385vw, 0.9375rem);
    margin-top: 1.25rem;
  }
}
.header__body.nav-active .header__nav {
  right: 0;
  opacity: 1;
  transition: all 0.7s ease-in-out 0s;
}
.header__body.nav-active .header__lang-dropdown-body {
  opacity: 1;
  right: clamp(6.5625rem, 4.0384615385rem + 10.7692307692vw, 8.75rem);
}
.header__logo {
  margin-top: 7px;
}
@media (max-width: 940px) {
  .header__logo {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .header__logo {
    margin: 0;
  }
}
.header__logo-img {
  width: clamp(9.375rem, 4.7596153846rem + 7.2115384615vw, 11.25rem);
  height: clamp(1.0625rem, 0.4471153846rem + 0.9615384615vw, 1.3125rem);
  width: clamp(8.125rem, 6.6826923077rem + 6.1538461538vw, 9.375rem);
}
.header__nav {
  font-size: clamp(1rem, 0.6923076923rem + 0.4807692308vw, 1.125rem);
}
@media (max-width: 940px) {
  .header__nav {
    margin: clamp(0.1875rem, -1.7659883721rem + 4.0697674419vw, 0.625rem) 0;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: -500px;
    width: clamp(16.25rem, 9.7596153846rem + 27.6923076923vw, 21.875rem);
    height: 100%;
    background-color: #8c8c8c;
    opacity: 0;
    z-index: 10;
    transition: all 0.7s ease-in-out 0s;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: clamp(0.625rem, -3.0673076923rem + 5.7692307692vw, 2.125rem);
       column-gap: clamp(0.625rem, -3.0673076923rem + 5.7692307692vw, 2.125rem);
}
.header__nav-list-item {
  position: relative;
}
.header__nav-list-link {
  transition: all 0.3s ease 0s;
}
.header__nav-list-link:hover {
  transition: all 0.3s ease 0s;
  text-shadow: 1px 1px 2px rgba(44, 41, 41, 0.5607843137);
}
.header__nav-dropdown-btn {
  border: none;
  padding: 0.3125rem;
  transition: all 0.2s ease-in 0s;
}
.header__nav-dropdown-btn:hover .header__nav-list-arrow {
  transform: scale(1.2);
  transition: all 0.2s ease-in 0s;
}
.header__nav-list-arrow {
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease-in 0s;
}
.header__nav-dropdown-list {
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #e5e4dd;
  padding: 5px;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
.header__nav-dropdown-list.show {
  height: auto;
}
@media (max-width: 700px) {
  .header__nav-dropdown-list {
    text-align: center;
    position: static;
    transition: none;
    background-color: transparent;
    height: 0;
  }
  .header__nav-dropdown-list.show {
    background-color: transparent;
  }
  .header__nav-dropdown-list .burger-menu.burg-active {
    position: absolute;
    top: 30px;
    left: 10px;
  }
}
.header__nav-dropdown-list .header__lang-dropdown-body {
  right: 100px;
  z-index: 15;
}
@media (max-width: 700px) {
  .header__nav-dropdown-list-item {
    margin-top: 0.9375rem;
  }
}
.header__nav-dropdown-list-link {
  transition: all 0.3s ease 0s;
}
.header__nav-dropdown-list-link:hover {
  transition: all 0.3s ease 0s;
  text-shadow: 1px 1px 2px rgba(44, 41, 41, 0.5607843137);
}
.header__nav-list-btn {
  color: #ffffff;
  background-color: #2c2929;
  line-height: 0.6875rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease 0s;
}
.header__nav-list-btn:hover {
  box-shadow: 1px 2px 4px 0 #2c2929;
  transition: all 0.3s ease 0s;
}
.header__nav-list-btn:active {
  outline: 1px solid #2c2929;
  color: #2c2929;
  background-color: #ffffff;
}
.header__body-icons {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(0.3125rem, -1.9951923077rem + 3.6057692308vw, 1.25rem);
       column-gap: clamp(0.3125rem, -1.9951923077rem + 3.6057692308vw, 1.25rem);
}
@media (max-width: 1024px) {
  .header__body-icons {
    margin-top: 0.625rem;
    margin-left: auto;
  }
}
@media (max-width: 700px) {
  .header__body-icons {
    margin-top: 0;
    margin-right: clamp(0.3125rem, 0.0493421053rem + 1.3157894737vw, 0.625rem);
  }
}
.header__body-icons-img {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s ease-in 0s;
}
.header__body-icons-img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in 0s;
}
.header__lang-dropdown-body {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1024px) {
  .header__lang-dropdown-body {
    margin-left: auto;
    margin-top: 0.625rem;
  }
}
@media (max-width: 940px) {
  .header__lang-dropdown-body {
    margin-left: 0.625rem;
    margin-right: auto;
  }
}
.header__lang-dropdown-list {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 8px;
}
.header__lang-dropdown-btn {
  border: none;
  padding: 0.3125rem;
  transition: all 0.2s ease-in 0s;
}
.header__lang-dropdown-btn:hover .header__lang-dropdown-arrow {
  transform: scale(1.2);
  transition: all 0.2s ease-in 0s;
}
.header__lang-dropdown-arrow {
  width: 1rem;
  height: 1rem;
}

.footer {
  padding-top: clamp(2rem, 0.7235915493rem + 5.4460093897vw, 5.625rem);
  padding-bottom: clamp(1rem, 0.2297535211rem + 3.2863849765vw, 3.1875rem);
  border-top: 1px solid #dedede;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 23px;
}
@media (max-width: 1024px) {
  .footer__lists {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__lists {
    justify-content: center;
  }
  .footer__lists :nth-child(2) {
    order: 3;
  }
  .footer__lists :nth-child(3) {
    order: 4;
  }
  .footer__lists :nth-child(4) {
    order: 5;
  }
  .footer__lists .footer__column:nth-child(5) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
}
@media (max-width: 768px) {
  .footer__logo-body {
    width: 100%;
  }
  .footer__logo-body img {
    margin: 0 auto;
    width: 270px;
    height: 31px;
  }
}
@media (max-width: 425px) {
  .footer__column {
    width: 100%;
  }
}
.footer__title {
  font-weight: 500;
  font-size: clamp(1rem, 0.911971831rem + 0.3755868545vw, 1.25rem);
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .footer__title {
    display: flex;
    max-width: 100%;
  }
}
.footer__dropdown-btn {
  display: none;
  border: none;
  transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
  .footer__dropdown-btn {
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: end;
  }
}
.footer__list {
  transition: all 0.5s ease 0s;
  height: 100%;
  overflow: hidden;
}
.footer__list.show {
  height: 0;
  transition: all 0.5s ease 0s;
}
.footer__list-item {
  margin-bottom: 0.75rem;
}
.footer__list-link {
  display: flex;
  gap: 8px;
}
.footer__desc {
  max-width: 16.75rem;
  margin-bottom: clamp(1.5rem, 1.3679577465rem + 0.5633802817vw, 1.875rem);
}
.footer__input-body {
  position: relative;
  max-width: 276px;
  width: 100%;
}
.footer__input {
  width: 100%;
}
.footer__send-email {
  position: absolute;
  top: 10px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: rgba(44, 41, 41, 0.2392156863);
  border: none;
  border-radius: 50%;
  padding: 0;
}
.footer__down-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__down-row {
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .footer__down-row .footer__police {
    order: 3;
  }
  .footer__down-row .footer__payment-svgs {
    order: 2;
  }
  .footer__down-row .footer__social {
    order: 1;
    width: 100%;
  }
}
.footer__payment-svgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(0.5rem, 0.411971831rem + 0.3755868545vw, 0.75rem);
}
.footer__payment-svgs img {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 4px;
  width: clamp(2.125rem, 1.860915493rem + 1.1267605634vw, 2.875rem);
  height: clamp(1.5rem, 1.323943662rem + 0.7511737089vw, 2rem);
}
.footer__payment-amex {
  background-color: #1f72cd;
}
.footer__social {
  display: flex;
  gap: clamp(0.75rem, 0.573943662rem + 0.7511737089vw, 1.25rem);
}
.footer__social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Обнуляючі стилі */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Робимо box-sizing: border-box за замовчуванням */
}

html {
  font-size: 16px; /* Встановлюємо базовий розмір шрифту */
  scroll-behavior: smooth; /* Плавна прокрутка */
}

body {
  line-height: 1.5; /* Стандартний міжрядковий інтервал */
  -webkit-font-smoothing: antialiased; /* Покращуємо рендеринг шрифтів у WebKit */
  -moz-osx-font-smoothing: grayscale; /* Покращуємо рендеринг шрифтів у Firefox */
}

img,
picture,
video,
canvas,
svg {
  display: block; /* Робимо зображення блочними, щоб уникнути зайвих відступів */
  max-width: 100%; /* Забороняємо зображенням виходити за межі контейнера */
  height: auto; /* Зберігаємо пропорції зображень */
}

input,
button,
textarea,
select {
  font: inherit; /* Наслідуємо шрифт для елементів форми */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* Переносимо слова, якщо вони не поміщаються */
}

h4,
h3 {
  font-weight: 400;
}

ul,
li,
ol {
  list-style: none; /* Видаляємо маркери списків */
}

a {
  text-decoration: none; /* Видаляємо підкреслення у посилань */
  color: inherit; /* Наслідуємо колір тексту */
}

button {
  border: none; /* Видаляємо рамку у кнопок */
  background: none; /* Видаляємо фон у кнопок */
  cursor: pointer; /* Робимо курсор у вигляді вказівника */
}

/* Додаткові обнуляючі стилі */
table {
  border-collapse: collapse; /* Зливаємо рамки таблиць */
  border-spacing: 0; /* Видаляємо відступи між комірками таблиць */
}

/* Видаляємо стандартні стилі для fieldset та legend */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

/* Видаляємо стандартні стилі для деталей (details) */
details {
  display: block;
}

summary {
  display: list-item;
  cursor: pointer;
}

/* Видаляємо стандартні стилі для діалогів (dialog) */
dialog {
  padding: 0;
  border: none;
}

/* Видаляємо стандартні стилі для progress */
progress {
  vertical-align: baseline;
}

/* Видаляємо стандартні стилі для textarea */
textarea {
  resize: vertical; /* Дозволяємо змінювати розмір тільки по вертикалі */
}

/* Видаляємо стандартні стилі для input[type="search"] */
input[type=search] {
  -webkit-appearance: none; /* Видаляємо стандартні стилі для Safari */
  -moz-appearance: none;
       appearance: none;
}

/* Видаляємо стандартні стилі для input[type="number"] */
input[type=number] {
  -moz-appearance: textfield; /* Видаляємо стрілки у Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Видаляємо стрілки у Chrome/Safari */
  margin: 0;
}

/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
/*main colors page*/
/*main font*/
/*main sizes page*/
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1.25rem;
  width: 100%;
}
@media (max-width: 375px) {
  .container {
    padding: 0 0.625rem;
  }
}

.show {
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease 0s;
}
@media (max-width: 700px) {
  .show {
    text-align: center;
    left: -13px;
    height: 160%;
    background-color: rgba(255, 255, 255, 0.4039215686);
  }
}

.active {
  transform: rotate(180deg);
  transition: all 0.2s ease-in 0s;
}

.burger-menu {
  padding: 0.3125rem;
  border: none;
  display: none;
}
@media (max-width: 700px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu__line {
  width: clamp(1.5rem, 1.0673076923rem + 1.8461538462vw, 1.875rem);
  height: 0.1875rem;
  background-color: #2c2929;
  border-radius: 0.125rem;
  transition: all 0.2s ease-in 0s;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
}
.burger-menu.burg-active {
  position: fixed;
  top: 20px;
  right: clamp(13.125rem, 8.0769230769rem + 21.5384615385vw, 17.5rem);
  z-index: 20;
}
.burger-menu.burg-active > :nth-child(1) {
  transform-origin: center;
  transform: rotate(45deg) translateY(11px);
}
.burger-menu.burg-active > :nth-child(2) {
  opacity: 0;
}
.burger-menu.burg-active > :nth-child(3) {
  transform-origin: center;
  transform: rotate(-45deg) translateY(-11px);
}

button {
  /* bttn */
  padding: 0.625rem 1.125rem;
  border-radius: 0.5rem;
  font-weight: 400;
  border: 1px solid #2c2929;
  color: #2c2929;
  background-color: transparent;
}

input {
  background-color: #f0f0f0;
  border-radius: 2.5rem;
  border-color: transparent;
  padding: 1.0625rem 1.5rem;
  line-height: 11px;
}

/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
.client-company {
  margin-bottom: clamp(2.5625rem, 2.4964788732rem + 0.2816901408vw, 2.75rem);
}
.client-company__title {
  text-align: center;
  font-size: clamp(1.5rem, 1.4559859155rem + 0.1877934272vw, 1.625rem);
  font-weight: 500;
  padding-bottom: clamp(1.5rem, 1.411971831rem + 0.3755868545vw, 1.75rem);
}
.swiper-company {
  height: clamp(4.3125rem, 3.0801056338rem + 5.2582159624vw, 7.8125rem);
}

.company-slide {
  margin: auto 0;
  height: clamp(2.6875rem, 1.9392605634rem + 3.1924882629vw, 4.8125rem);
  width: 180px;
  display: flex;
  align-items: center;
}

/* Обгортка */
.product-slider {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .product-slider {
    margin-top: clamp(2.6875rem, -6.125rem + 18.359375vw, 5.625rem);
  }
}

.product-slider-thumbs {
  width: 102px;
  height: 326px;
  margin: auto 0;
  margin-right: clamp(1.25rem, -9.5192307692rem + 16.8269230769vw, 5.625rem);
}
@media (max-width: 1024px) {
  .product-slider-thumbs {
    display: none;
  }
}

.thumbs-slide {
  width: 102px;
  height: 102px !important;
  overflow: hidden;
}

.thumbs-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  position: absolute;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: rgba(44, 41, 41, 0.2392156863);
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
}
.nav img {
  width: 24px;
  height: 24px;
}

.slider-thumbs-prev {
  top: 151px;
}
@media (max-width: 1024px) {
  .slider-thumbs-prev {
    top: 70px;
    left: -60px;
    transform: rotate(-90deg);
  }
}
@media (max-width: 768px) {
  .slider-thumbs-prev {
    left: clamp(0rem, -4.6465014577rem + 17.4927113703vw, 3.75rem);
  }
}

.slider-thumbs-next {
  top: 565px;
}
.slider-thumbs-next svg {
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .slider-thumbs-next {
    top: 70px;
    left: auto;
    right: -60px;
    transform: rotate(-90deg);
  }
}
@media (max-width: 768px) {
  .slider-thumbs-next {
    right: clamp(-3.75rem, 2.6785714286rem + -13.3928571429vw, 0rem);
  }
}

.product-slider-main {
  width: clamp(30.3125rem, 16.3125rem + 21.875vw, 36rem);
  height: clamp(23.4375rem, 9.7451923077rem + 21.3942307692vw, 29rem);
  width: clamp(24.0625rem, -1.2351190476rem + 95.2380952381vw, 30.3125rem);
  height: clamp(17.6875rem, 8.9255952381rem + 43.8095238095vw, 23.4375rem);
  width: clamp(17.6875rem, -1.7410714286rem + 97.1428571429vw, 24.0625rem);
  flex-shrink: 0;
  margin: auto 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-slider-main .swiper-slide img {
  width: 100%;
  height: 100%;
}

.product-slider-thumbs .swiper-slide-thumb-active {
  border: 2px solid #dedede;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.product {
  padding-bottom: clamp(1.125rem, 0.8169014085rem + 1.3145539906vw, 2rem);
  padding-top: clamp(1.125rem, 0.7508802817rem + 1.5962441315vw, 2.1875rem);
  background-color: #f0f0f0;
}
.product .container {
  display: flex;
  justify-content: space-between;
  gap: clamp(0.9375rem, -9.6778846154rem + 16.5865384615vw, 5.25rem);
}
@media (max-width: 1024px) {
  .product .container {
    flex-direction: column;
    align-items: center;
  }
}
.product__path {
  font-size: clamp(0.75rem, 0.7059859155rem + 0.1877934272vw, 0.875rem);
  display: flex;
}
.product__info-block {
  max-width: 590px;
}
.product__info-block img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 1024px) {
  .product__info-block {
    max-width: 100%;
  }
}
.product__title {
  font-weight: 600;
  font-size: clamp(2rem, 1.5598591549rem + 1.8779342723vw, 3.25rem);
  line-height: clamp(2rem, 1.4498239437rem + 2.3474178404vw, 3.5625rem);
  margin-bottom: clamp(1.75rem, 1.9190140845rem + -0.1877934272vw, 1.875rem);
}
.product__desc {
  font-size: 1.125rem;
}
.product__color-palette {
  display: flex;
  gap: clamp(0.3125rem, 0.5660211268rem + -0.2816901408vw, 0.5rem);
  margin-top: clamp(1.875rem, 1.6549295775rem + 0.9389671362vw, 2.5rem);
}
.product__btn-color {
  overflow: hidden;
  width: clamp(2rem, 1.8679577465rem + 0.5633802817vw, 2.375rem);
  height: clamp(2rem, 1.8679577465rem + 0.5633802817vw, 2.375rem);
  border-radius: 50%;
  padding: 0;
  border: none;
}
.product__btn-color.active-color {
  border: 2px solid #2c2929;
}
.product__btn-color img {
  width: clamp(2rem, 1.911971831rem + 0.3755868545vw, 2.25rem);
  height: clamp(2rem, 1.911971831rem + 0.3755868545vw, 2.25rem);
}
.product__title-btn {
  font-weight: 600;
  margin-top: clamp(1.25rem, 1.1399647887rem + 0.4694835681vw, 1.5625rem);
}
.product__btns-block {
  margin-top: 0.5rem;
  line-height: 11px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.product__btn {
  flex: 0 0 auto;
  transition: all 0.3s ease 0s;
}
.product__btn.active-pr-btn {
  transition: all 0.3s ease 0s;
  background-color: #2c2929;
  color: #ffffff;
}
.product__price-block {
  display: flex;
  gap: clamp(0.625rem, 1.1320422535rem + -0.5633802817vw, 1rem);
  margin-top: clamp(1.875rem, 1.6549295775rem + 0.9389671362vw, 2.5rem);
  margin-bottom: clamp(1.25rem, 1.926056338rem + -0.7511737089vw, 1.75rem);
}
@media (max-width: 1200px) {
  .product__price-replace {
    display: inline-flex;
    order: 2;
    margin: auto 0;
    height: 28px;
  }
}
.product__current-price {
  font-weight: 600;
  font-size: 2rem;
  line-height: 28px;
}
.product__old-price {
  font-size: 1rem;
  color: rgba(44, 41, 41, 0.2392156863);
  align-self: flex-end;
  text-decoration: line-through;
}
.product__order-block {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-bottom: clamp(1.25rem, 2.0950704225rem + -0.9389671362vw, 1.875rem);
}
@media (max-width: 1024px) {
  .product__order-block {
    max-width: 500px;
  }
}
.product__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #2c2929;
  border-radius: 0.5rem;
  max-width: 101px;
  width: 100%;
  max-height: 44px;
}
@media (max-width: 1200px) {
  .product__counter {
    order: 1;
  }
}
.product__counter-minus {
  border: none;
  font-size: 30px;
  line-height: 100%;
  padding: 10px;
}
.product__counter-plus {
  padding: 10px;
  border: none;
}
.product__btn-in-busket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #2c2929;
  max-width: 17.5625rem;
  width: 100%;
  max-height: 44px;
}
@media (max-width: 1200px) {
  .product__btn-in-busket {
    order: 3;
  }
}
.product__btn-like {
  padding: 10px;
  max-height: 44px;
}
@media (max-width: 1200px) {
  .product__btn-like {
    white-space: nowrap;
    order: 4;
  }
}
.product__message-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: clamp(1.625rem, 1.963028169rem + -0.3755868545vw, 1.875rem);
  max-height: 44px;
}
.product__message-button {
  font-weight: 500;
  text-align: center;
  display: flex;
  min-width: 210px;
}
.product__message-button img {
  margin-right: 13px;
}
.product__extra-info {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 0.625rem;
}
.details__head {
  margin-bottom: clamp(2.5625rem, 1.4841549296rem + 4.6009389671vw, 5.625rem);
}
@media (max-width: 425px) {
  .details__head {
    position: relative;
  }
}
.details__title {
  font-weight: 600;
  font-size: clamp(1.75rem, 1.4419014085rem + 1.3145539906vw, 2.625rem);
  line-height: 128%;
  margin-bottom: clamp(1.875rem, 1.610915493rem + 1.1267605634vw, 2.625rem);
}
.details__desc {
  font-size: clamp(1.125rem, 1.0809859155rem + 0.1877934272vw, 1.25rem);
  max-width: 710px;
  width: 100%;
}
@media (max-width: 425px) {
  .details__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* показати лише 3 рядки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0.5rem;
    line-height: 1.5;
    transition: all 0.3s ease;
  }
  .details__desc.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    display: block;
  }
}
.details__show-more {
  display: block;
  border: none;
  font-weight: 600;
  padding: 0;
  width: 5.25rem;
  margin-left: auto;
}
@media (min-width: 425px) {
  .details__show-more {
    display: none;
  }
}
.details__block-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}
@media (max-width: 768px) {
  .details__block-lists {
    grid-template-columns: 1fr;
  }
}
.details__list {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: clamp(1.5rem, 1.2579225352rem + 1.0328638498vw, 2.1875rem);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 1024px) {
  .details__list {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.details__term {
  font-weight: 600;
  font-size: clamp(1.125rem, 1.0589788732rem + 0.2816901408vw, 1.3125rem);
}
.details__value {
  font-size: clamp(1.125rem, 1.0809859155rem + 0.1877934272vw, 1.25rem);
  color: #8c8c8c;
}

.fullscreen {
  color: #ffffff;
}
.fullscreen__body {
  background: url("/Images/fullscreen/full-screen-section.png");
  background-size: cover;
  background-position: center center; /* Центрує по горизонталі і вертикалі */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: fixed;
  overflow: hidden;
  border-radius: 20px;
  height: clamp(26.125rem, 21.613556338rem + 19.2488262911vw, 38.9375rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: clamp(1.75rem, 1.5959507042rem + 0.6572769953vw, 2.1875rem);
  text-align: center;
}
@media (max-width: 1024px) {
  .fullscreen__body {
    background-position: 70% 0%;
  }
}
.fullscreen__title {
  font-size: clamp(1.25rem, 1.588028169rem + -0.3755868545vw, 1.5rem);
  line-height: 142%;
}
.fullscreen__desc {
  font-weight: 600;
  font-size: clamp(1.5rem, 1.323943662rem + 0.7511737089vw, 2rem);
}
.fullscreen__btn {
  font-weight: 500;
  padding: 0.625rem 1.125rem;
  border-radius: 0.5rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  max-width: 14rem;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.fullscreen__btn:hover {
  color: rgba(255, 255, 255, 0.7411764706);
  transition: all 0.3s ease 0s;
  border-color: #8c8c8c;
  background-color: rgba(140, 140, 140, 0.2941176471);
}
.fullscreen__btn:active {
  color: #2c2929;
}

.chair__body {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  gap: clamp(1.75rem, 1.2658450704rem + 2.0657276995vw, 3.125rem);
}
@media (max-width: 768px) {
  .chair__body {
    justify-content: center;
  }
}
.chair__title {
  font-weight: 600;
  font-size: clamp(2.875rem, 2.4520750988rem + 1.581027668vw, 3.875rem);
  line-height: clamp(2.375rem, 1.6267605634rem + 3.1924882629vw, 4.5rem);
  max-width: 67.1875rem;
}
@media (max-width: 440px) {
  .chair__title {
    max-width: clamp(18.75rem, -0.2976190476rem + 95.2380952381vw, 25rem);
    font-size: clamp(1.875rem, -0.0297619048rem + 9.5238095238vw, 2.5rem);
  }
}
.chair__btn-block {
  max-width: 23rem;
}
@media (max-width: 830px) {
  .chair__btn-block {
    max-width: 20rem;
  }
}
@media (max-width: 768px) {
  .chair__btn-block {
    max-width: 23rem;
    order: 3;
  }
}
.chair__btn-title {
  font-size: 1.75rem;
  line-height: clamp(1.75rem, 1.573943662rem + 0.7511737089vw, 2.25rem);
  margin-bottom: clamp(1.5rem, 1.3679577465rem + 0.5633802817vw, 1.875rem);
}
.chair__btn {
  display: flex;
  justify-content: space-between;
  max-width: 16.0625rem;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}
.chair__btn:hover {
  transition: all 0.3s ease-in-out 0s;
  box-shadow: 0 0 0 2px #2c2929;
}
.chair__btn:hover .chair__btn-svg {
  transform: rotate(90deg);
}
.chair__btn:active {
  color: #8c8c8c;
}
@media (max-width: 768px) {
  .chair__btn {
    max-width: 20.9375rem;
    width: 100%;
  }
}
.chair__btn-link {
  font-size: 1.5rem;
  font-weight: 500;
}
.chair__btn-svg {
  transition: all 0.3s ease-in-out 0s;
}
.chair__images {
  position: relative;
}
@media (max-width: 768px) {
  .chair__images {
    margin: 0 auto;
    margin-bottom: clamp(3.125rem, 2.2447183099rem + 3.7558685446vw, 5.625rem);
    order: 2;
  }
}
.chair__img-big {
  width: clamp(16.5625rem, 11.2588028169rem + 22.6291079812vw, 31.625rem);
  height: clamp(22.625rem, 15.7588028169rem + 29.2957746479vw, 42.125rem);
}
@media (max-width: 375px) {
  .chair__img-big {
    width: clamp(15.75rem, 11.0227272727rem + 23.6363636364vw, 16.5625rem);
    height: clamp(21.6875rem, 16.2329545455rem + 27.2727272727vw, 22.625rem);
  }
}
.chair__img-mini {
  position: absolute;
  top: clamp(11.5625rem, 9.3617957746rem + 9.3896713615vw, 17.8125rem);
  left: clamp(-7.3125rem, -0.8054577465rem + -7.2300469484vw, -2.5rem);
  width: clamp(11.625rem, 8.235915493rem + 14.4600938967vw, 21.25rem);
  height: clamp(14.5625rem, 10.3371478873rem + 18.0281690141vw, 26.5625rem);
}
@media (max-width: 375px) {
  .chair__img-mini {
    left: clamp(-2.5rem, 6.0227272727rem + -36.3636363636vw, -1.25rem);
    width: clamp(10.625rem, 4.8068181818rem + 29.0909090909vw, 11.625rem);
    height: clamp(13.5625rem, 7.7443181818rem + 29.0909090909vw, 14.5625rem);
  }
}

/*function for smooth resizing depending on the window size*/
/*function to convert px to rem*/
/*main colors page*/
/*main font*/
/*main sizes page*/
.info-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1.25rem, 1.588028169rem + -0.3755868545vw, 1.5rem);
}
.info-card__wrapper .info-card__item:nth-child(1) {
  position: relative;
  background-color: #e5e4dd;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, 0.4049295775rem + 0.9389671362vw, 1.25rem) clamp(0.9375rem, 0.6073943662rem + 1.4084507042vw, 1.875rem);
  min-width: 18.75rem;
  max-width: 44.375rem;
  width: 100%;
  min-height: 336px;
}
.info-card__wrapper .info-card__item:nth-child(1) .info-card__desc {
  position: relative;
  z-index: 2;
  max-width: clamp(20.9375rem, -5.5240384615rem + 41.3461538462vw, 31.6875rem);
  max-width: clamp(14.375rem, -5.3125rem + 41.015625vw, 20.9375rem);
  max-width: clamp(14.375rem, 0.8686440678rem + 57.6271186441vw, 25rem);
  background-color: rgba(229, 228, 221, 0.5490196078);
  border-radius: 10px;
}
@media (max-width: 375px) {
  .info-card__wrapper .info-card__item:nth-child(1) .info-card__desc {
    max-width: 100%;
  }
}
.info-card__wrapper .info-card__item:nth-child(2) {
  background-color: #fffad9;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, 0.4049295775rem + 0.9389671362vw, 1.25rem) clamp(0.9375rem, 0.6073943662rem + 1.4084507042vw, 1.875rem);
  min-width: 18.75rem;
  max-width: 44.375rem;
  width: 100%;
  min-height: 336px;
}
.info-card__wrapper .info-card__item:nth-child(3) {
  background-color: #dbece0;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, 0.4049295775rem + 0.9389671362vw, 1.25rem) clamp(0.9375rem, 0.6073943662rem + 1.4084507042vw, 1.875rem);
  min-width: 18.75rem;
  max-width: 44.375rem;
  width: 100%;
  min-height: 336px;
}
.info-card__wrapper .info-card__item:nth-child(4) {
  background-color: #fae0e1;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, 0.4049295775rem + 0.9389671362vw, 1.25rem) clamp(0.9375rem, 0.6073943662rem + 1.4084507042vw, 1.875rem);
  min-width: 18.75rem;
  max-width: 44.375rem;
  width: 100%;
  min-height: 336px;
}
.info-card__item {
  flex: 1 1 calc(50% - 1rem);
}
.info-card__icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.875rem;
}
.info-card__title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.875rem;
}
.info-card__desc {
  font-size: 1.25rem;
  max-width: 35rem;
}
.info-card__btn {
  position: relative;
  z-index: 2;
  margin-top: 0.875rem;
  background-color: rgba(229, 228, 221, 0.5490196078);
  transition: all 0.3s ease 0s;
}
.info-card__btn:hover {
  background-color: #2c2929;
  color: #ffffff;
  border-color: #ffffff;
  transition: all 0.3s ease 0s;
}
.info-card__btn:active {
  background-color: rgba(229, 228, 221, 0.5490196078);
  border-color: #ffffff;
}
.info-card__img {
  position: absolute;
  bottom: 0;
  right: clamp(0rem, -0.9285714286rem + 1.9345238095vw, 0.8125rem);
}
@media (max-width: 375px) {
  .info-card__img {
    display: none;
  }
}

h2 {
  font-weight: 600;
  font-size: clamp(1.75rem, 1.4419014085rem + 1.3145539906vw, 2.625rem);
}

body {
  background-color: #ffffff;
  color: #2c2929;
  font-family: "Avenir Next";
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
}

section {
  padding-top: clamp(2.5625rem, 1.4841549296rem + 4.6009389671vw, 5.625rem);
}/*# sourceMappingURL=main.css.map */