/*main colors page*/
$primary-color: #2c2929;
$secondary-color: #ffffff;

$gray-color: #f0f0f0;
$light-gray-color: #8c8c8c;

$yellow-card-color: #fffad9;
$green-card-color: #dbece0;
$gray-card-color: #e5e4dd;
$red-card-color: #fae0e1;

$red-badge-color: #ff2329;

/*main font*/
$main-font: "Avenir Next";

/*main sizes page*/
$max-width-layout: 1440px;
$minWidth-layout: 375px;

$btn-radius: rem(8);

$section-padding: resizing(57, 25);
